/*
  Taylor Bunpeara Yoeuth
  taylor_yoeuth@student.uml.edu
  Currently an Undergrad Computer Science Student
  At UMass Lowell taking course 91.61 GUI Programming I.
    The purpose of this webpage is to introduce myself to the basic techniques of creating webpages and to implement new techniques as the semester progresses.
    Created August 09,2020
*/

/*Sources used:
  https://www.w3schools.com/css/default.asp
*/

body{
  background-color: deepskyblue;
}
h1{
  text-align: center;
  font-size: 36pt;
}

p{
  font-size: 15pt;
  text-align: center;
}
#score{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 15px 15px;
}

#tileboard{
  margin: auto;

 background-image: url("Scrabble_Board_OneLine.png");
 width: 1129px;
 height: 80px;
}

#tileholder{
  margin: auto;
  text-align: center;
  background-image: url("scrabble-tile-holder.webp");
  background-position: center center;
  background-repeat: no-repeat;
}
.rack{
  width: 70px;
  height: 60px;
}
.stripSlot{
  float: left;
  width: 69px;
  height:65px;
  margin-left:3px;
  margin-top: 7px;
  margin-right: 3px;
  margin-bottom: 1px;
  }
.buttonplace{
    margin:auto;
    text-align: center;
}

.tilebutton{
  text-align: center;
  padding: 15px 32px;
  margin: auto;
  font-size: 14pt;
}

.submitbutton{
  text-align: center;
  padding: 15px 32px;
  margin: auto;
  font-size: 14pt;
}
